body {
	font-size: 36px
}
.small-font {
	font-size: .5em;
}
.form-block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    font-size: .75em;
    background-color: rgba(50, 50, 50, 0.7);
    padding: 5%;
    box-sizing: border-box;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow: scroll;
    height: 90vh;
}

.freebirdFormviewerViewHeaderRequiredLegend {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: white;
	font-size: .9em;
	padding: 15px;
}

.freebirdFormviewerViewItemsItemRequiredAsterisk {
	color: white;
}

.freebirdFormviewerViewHeaderTitle {
	font-size: 1.25em;
	font-weight: bold;
}

.freebirdFormviewerViewItemsItemItemHelpText {
	font-size: .75em;
}

.exportLabel {
	display: none;
}

.freebirdFormviewerViewItemsItemItem, .freebirdFormviewerViewNavigationNavControls {
	margin-top: 20px;
}

.exportInput, .exportTextarea {
	transition: all 1s;
	border: 0px;
	border-style:solid;
	width: 100%;
	font-size: 1.5em;
	box-shadow: 0px 0px 0px 0px black inset;
}

*:focus {
	transition: all 1s;
    outline: none;
    box-shadow: 0px 0px 0px 2px black inset;
}

.exportInput {
	height: 1.1em;
}

.exportTextarea {
	height: 4.2em;
}

.submitButton {
	transition: all 1s;
	background-color:#ffffff;
	border:0px solid black;
	box-shadow: 0px 0px 0px 0px black inset;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:1em;
	padding:.25em .5em;
	text-decoration:none;
	font-family: 'Pragati Narrow', sans-serif;
}
.submitButton:hover {
	transition: all 1s;
	box-shadow: 0px 0px 0px 3px black inset;
	color: #444;
}
.submitButton:active {
	position:relative;
	top:1px;
	border:0px solid black;
}
