body {
	font-size: 48px
}
.small-font {
	font-size: .5em;
}
.form-block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    font-size: .75em;
    background-color: rgba(50, 50, 50, 0.7);
    padding: 5%;
    box-sizing: border-box;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow: scroll;
    height: 90vh;
}

.freebirdFormviewerViewHeaderRequiredLegend {
	position: absolute;
	right: 0px;
	color: white;
	font-size: .9em;
	padding: 15px;
	box-sizing: border-box;
}

.freebirdFormviewerViewItemsItemRequiredAsterisk {
	color: white;
}

.freebirdFormviewerViewHeaderTitle {
	font-size: 1.25em;
	font-weight: bold;
}

.freebirdFormviewerViewItemsItemItemHelpText {
	font-size: .75em;
}

.freebirdFormviewerViewItemsItemItem, .freebirdFormviewerViewNavigationNavControls {
	margin-top: 20px;
}

.exportInput, .exportTextarea {
	transition: all 1s;
	border: 0px;
	border-style:solid;
	width: 80%;
	font-size: 1.5em;
	box-shadow: 0px 0px 0px 0px black inset;
}

.exportInput {
	width: 90%;
}

*:focus {
	transition: all 1s;
    outline: none;
    box-shadow: 0px 0px 0px 2px black inset;
}

.exportInput {
	height: 1.1em;
}

.exportTextarea {
	height: 4.2em;
}

.submitButton {
	transition: all 1s;
	background-color:#ffffff;
	border:0px solid black;
	box-shadow: 0px 0px 0px 0px black inset;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:1em;
	padding:.25em .5em;
	text-decoration:none;
	font-family: 'Pragati Narrow', sans-serif;
}
.submitButton:hover {
	transition: all 1s;
	box-shadow: 0px 0px 0px 3px black inset;
	color: #444;
}
.submitButton:active {
	position:relative;
	top:1px;
	border:0px solid black;
}

.freebirdFormviewerViewItemsRadioLabel {
    line-height: 135%;
    min-width: 0%;
}

.quantumWizTogglePaperradioOffRadio {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 2px;
    border-color: rgba(0,0,0,0.54);
}

.quantumWizTogglePaperradioRadioContainer {
    -webkit-animation: quantumWizPaperAnimateSelectOut .2s forwards;
    animation: quantumWizPaperAnimateSelectOut .2s forwards;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.quantumWizTogglePaperradioEl {
    -webkit-user-select: none;
    -webkit-transition: border-color .2s cubic-bezier(0.4,0,0.2,1);
    transition: border-color .2s cubic-bezier(0.4,0,0.2,1);
    -webkit-tap-highlight-color: transparent;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    outline: none;
    position: relative;
    vertical-align: middle;
    width: 20px;
    z-index: 0;
}

.docssharedWizToggleLabeledContent {
	display: inline-block;
}

.quantumWizTextinputPaperinputPlaceholder {
	display: none;
}

.fillInCircle {
	border-color: black;
	border-radius: 5px;
	border: 5px solid black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

div {
    display: block;
}
