#bg-video-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
}

#bg-video {
    height: 100%;
    width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: crosshair;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.white-text {
    color: white;
}

.center-text {
    text-align: center;
    font-size: 1.3333em;
    width: 100%;
    text-align: center;
}

.grey-bg {
  background-color: rgba(219, 253, 80, 0.3);
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 15px;
  padding-top: 15px;
  opacity: .75;
  transition: all 1s;
}

.link {
  color: #b75050;
}

.title {
  font-size: 1.2em;
  color: #c59e9e;
}

.small-text {
  font-size: .8em;
}

.bottom {
  position: absolute;
  bottom: 0px;
  width: 80%;
  transform: translateY(10px);
  padding-bottom: 25px;
}

.hidden {
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
}

.shown {
    transition: all 2s;
    visibility: visible;
    opacity: 1;
}

body {
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;
    overflow: hidden;
    text-shadow: 2px 2px 1px black;
}

#bg-video-box {
    position: fixed;
    background: #FFFFFF; /* For browsers that do not support gradients */
}